/spring-framework-5.1.5.RELEASE/import-into-eclipse.md
/spring-framework-5.1.5.RELEASE/import-into-idea.md
/spring-framework-5.1.5.RELEASE/README.md
/spring-framework-5.1.5.RELEASE/CODE_OF_CONDUCT.adoc
/spring-framework-5.1.5.RELEASE/CONTRIBUTING.md
